@charset "UTF-8";
/* ============================================================ site base */
/* ============================================================ base */
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  color: #4c4c4c;
  font-size: 16px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.6;
}
html.win.ie body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
@media only screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

select,
button {
  outline: none;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.6;
}

a:link, a:visited {
  color: #4c4c4c;
  text-decoration: none;
}
a:hover, a:active {
  color: #4c4c4c;
  text-decoration: none;
}
a.is-area:hover * {
  opacity: 0.8;
  transition-property: opacity, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
html.ie a.is-area:hover * {
  transition: none;
}
a.is-area:hover img {
  zoom: 1;
  box-shadow: #000 0 0 0;
  backface-visibility: hidden;
}

@media only screen and (min-width: 1025px) {
  br.pc {
    display: block;
  }
}
@media only screen and (max-width: 1024px) {
  br.pc {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  br.pc {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  br.tablet {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  br.tablet {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  br.tablet {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  br.sp {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  br.sp {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  br.sp {
    display: block;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?i3bjoh");
  src: url("../fonts/icomoon.eot?i3bjoh#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?i3bjoh") format("truetype"), url("../fonts/icomoon.woff?i3bjoh") format("woff"), url("../fonts/icomoon.svg?i3bjoh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*=" icon-"]:before,
[class*=" icon-"]:after {
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  font-size: 18px;
  font-size: 1.8rem;
}

[class*=" icon-"]:before {
  padding-right: 8px;
}

[class*=" icon-"].icon-r:after {
  padding-left: 8px;
}

[class^="icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:before,
[class*=" icon-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchorDown:before {
  content: "\e900";
}

.icon-anchorUp:before {
  content: "\e901";
}

.icon-arBack:before {
  content: "\e902";
}

.icon-arBottom:before {
  content: "\e903";
}

.icon-arNext:before {
  content: "\e904";
}

.icon-arTop:before {
  content: "\e905";
}

.icon-blank:before {
  content: "\e906";
}
html.firefox .icon-blank:before {
  font-size: 16px;
  font-size: 1.6rem;
}

.icon-check:before {
  content: "\e907";
}

.icon-pdf:before {
  content: "\e908";
}

.icon-search:before {
  content: "\e909";
}

.icon-r:before {
  display: none !important;
}

.icon-r.icon-anchorDown:after {
  content: "\e900";
}

.icon-r.icon-anchorUp:after {
  content: "\e901";
}

.icon-r.icon-arBack:after {
  content: "\e902";
}

.icon-r.icon-arBottom:after {
  content: "\e903";
}

.icon-r.icon-arNext:after {
  content: "\e904";
}

.icon-r.icon-arTop:after {
  content: "\e905";
}

.icon-r.icon-blank:after {
  content: "\e906";
}
html.firefox .icon-r.icon-blank:after {
  font-size: 16px;
  font-size: 1.6rem;
}

.icon-r.icon-check:after {
  content: "\e907";
}

.icon-r.icon-pdf:after {
  content: "\e908";
}

.icon-r.icon-search:after {
  content: "\e909";
}

.pagetop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 30;
}
.js-modal--open .pagetop {
  display: none !important;
}
.pagetop a {
  display: block;
  width: 44px;
  height: 44px;
  background: #666666;
  border-radius: 4px;
}
.pagetop a:before {
  color: #ffffff;
  padding: 0;
  display: block;
  margin: -13px 0 0 -13px;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 26px;
  font-size: 2.6rem;
}
@media only screen and (max-width: 640px) {
  .pagetop a {
    width: 35px;
    height: 35px;
  }
}
