@charset "UTF-8";
/* ============================================================ layout */
.mainHeader {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, serif;
  position: relative;
  z-index: 50;
}
.mainHeader__inner {
  border-bottom: 1px solid #b8b8b8;
}
body.fixed .mainHeader .mainHeader__inner {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
}
.mainHeader__wrapper {
  display: table-cell;
  text-align: right;
  vertical-align: bottom;
}
.mainHeader__areaA {
  position: relative;
}
.mainHeader__areaAInner {
  max-width: 1200px;
  margin: 0 auto;
  display: table;
  width: 100%;
  padding: 12px 0 5px 0;
  box-sizing: border-box;
}
.mainHeader__areaB {
  padding-left: 9px;
}
.mainHeader__areaBInner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.mainHeader__areaBGroup {
  position: absolute;
  top: -45px;
  right: 8px;
}
.mainHeader__important {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  font-size: 0rem;
}
.mainHeader__importantItem {
  display: table-cell;
  font-size: 12px;
  font-size: 1.2rem;
  border-right: 1px solid #b8b8b8;
}
.mainHeader__importantItem a {
  display: block;
  padding: 0 15px;
}
.mainHeader__importantItem:last-child {
  border-right: none;
}
.mainHeader__search {
  display: inline-block;
  position: relative;
}
.mainHeader__searchKeywords {
  vertical-align: middle;
  outline: none;
  width: 8px;
  min-height: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding: 9px 32px 9px 9px;
  width: 180px;
  background: none;
  cursor: auto;
}
.mainHeader__searchBtn {
  font-family: 'icomoon';
  line-height: 1;
  font-size: 18px;
  font-size: 1.8rem;
  outline: none;
  z-index: 50;
  position: absolute;
  margin-top: -12px;
  top: 50%;
  right: 11px;
  width: 26px;
  height: 26px;
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
}
.mainHeader__mainLogo {
  display: table-cell;
  text-align: center;
}
.mainHeader__mainLogo img {
  margin-top: 6px;
  width: 90px;
  height: 25px;
}
.mainHeader__brandArea {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}
.mainHeader__brandList {
  display: table-cell;
  text-align: center;
  width: 175px;
  position: relative;
  vertical-align: bottom;
}
.mainHeader__brandTrigger {
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
}
.mainHeader__brandTrigger .icon {
  padding: 10px 0;
  display: inline-block;
  border-bottom: 5px solid #ffffff;
}
.mainHeader__brandTrigger .icon:after {
  font-weight: bold;
}
.mainHeader__brandTrigger:hover .icon-r, .mainHeader__brandTrigger.js-is-current .icon-r {
  border-bottom-color: #e0e0e0;
}
.mainHeader__brandTrigger:hover .icon-r:after, .mainHeader__brandTrigger.js-is-current .icon-r:after {
  content: "\e905";
}
.mainHeader__brandTrigger.a:after, .mainHeader__brandTrigger.a:before {
  top: 25%;
  width: 0;
  height: 50%;
  z-index: 50;
  display: block;
  content: '';
  position: absolute;
  border-left: 1px solid #e0e0e0;
  top: 20%;
}
.mainHeader__brandTrigger.a:before {
  right: 0;
}
@media only screen and (max-width: 1024px) {
  .mainHeader__brandTrigger.a:after, .mainHeader__brandTrigger.a:before {
    display: none;
  }
}
.mainHeader__brandTrigger.b {
  border: 1px solid #e0e0e0;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mainHeader__brandTrigger.b:hover, .mainHeader__brandTrigger.b.js-is-current {
  background: #f5f5f5;
}
.mainHeader__brandTrigger.b .icon {
  border-bottom: none;
}
@media only screen and (max-width: 1024px) {
  .mainHeader__brandTrigger.b {
    font-size: 8px;
    font-size: 0.8rem;
  }
  .mainHeader__brandTrigger.b {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
}
.mainHeader__brandTrigger.c {
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .mainHeader__brandTrigger.c {
    font-weight: normal;
  }
}
.mainHeader__spNav, .mainHeader__spClose {
  display: none;
}
@media only screen and (max-width: 1024px) {
  body.fixed .mainHeader.js-is-open .mainHeader__inner {
    position: static;
  }
  .mainHeader.js-is-open {
    width: 100%;
    height: 100%;
    background: #ffffff;
  }
  .mainHeader.js-is-open + #lowerLayer {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .mainHeader.js-is-open .mainHeader__inner {
    border-bottom: none;
  }
  .mainHeader.js-is-open--gnav .mainHeader__mainLogo {
    visibility: hidden;
  }
  .mainHeader.js-is-open--gnav .mainHeader__wrapper {
    display: block;
  }
  .mainHeader.js-is-open--gnav .mainHeader__brandList {
    display: none;
  }
  .mainHeader.js-is-open--gnav .mainHeader__spNavTrigger {
    background: url(../img/sp/bt_close.png) 50% 50% no-repeat;
    background-size: 23px 24px;
  }
  .mainHeader.js-is-open--brand .mainHeader__mainLogo {
    visibility: hidden;
  }
  .mainHeader.js-is-open--brand .mainHeader__spNav {
    display: none;
  }
  .mainHeader.js-is-open--brand .mainHeader__wrapper {
    display: none;
  }
  .mainHeader.js-is-open--brand .mainHeader__brandTrigger {
    border: none;
    background: url(../img/sp/bt_close.png) 50% 50% no-repeat;
    background-size: 23px 24px;
  }
  .mainHeader.js-is-open--brand .mainHeader__brandTrigger .icon {
    display: none;
  }
  .mainHeader.js-is-open--brand .brandNav {
    display: block;
  }
  .mainHeader__mainLogo {
    text-align: center;
  }
  .mainHeader__mainLogo img {
    width: 80px;
    height: 22px;
  }
  .mainHeader__wrapper {
    display: none;
    z-index: 50;
    position: absolute;
    width: 100%;
    left: 0;
    background: #ffffff;
  }
  .mainHeader__areaBGroup {
    position: static;
    margin: 0 10px;
  }
  .mainHeader__areaAInner {
    padding: 10px 0;
  }
  .mainHeader__areaB {
    padding-left: 0;
  }
  .mainHeader__areaBInner {
    padding: 0;
    display: block;
  }
  .mainHeader__important {
    display: table;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin: 20px 0;
  }
  .mainHeader__importantItem {
    text-align: center;
    width: 50%;
  }
  .mainHeader__importantItem a {
    display: block;
    padding: 12px 5px;
    border-color: #e0e0e0;
  }
  .mainHeader__search {
    display: block;
    margin: 20px 0;
  }
  .mainHeader__searchKeywords {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }
  .mainHeader__searchKeywords.js-is-focus {
    width: 100%;
    padding: 15px 32px 15px 15px;
  }
  .mainHeader__brandTrigger {
    font-size: 8px;
    font-size: 0.8rem;
    z-index: 50;
    width: 44px;
    height: 44px;
    position: absolute;
    top: -50px;
    left: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 0;
    background: #ffffff;
  }
  .mainHeader__brandTrigger .icon {
    padding: 0;
    border: none;
    padding: 2px;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1.4;
  }
  .mainHeader__brandTrigger .icon:after {
    display: none;
  }
  .mainHeader__spNav {
    display: block;
  }
  .mainHeader__spNavTrigger {
    font-size: 22px;
    font-size: 2.2rem;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 50;
    display: block;
    width: 26px;
    height: 24px;
    background: url(../img/sp/nav_global.png) 50% 0 no-repeat;
    background-size: 26px 24px;
  }
  .mainHeader__spClose {
    padding: 40px 0;
    display: block;
    text-align: center;
  }
  .mainHeader__spCloseBtn {
    font-size: 12px;
    font-size: 1.2rem;
    background: url(../img/sp/bt_close.png) 50% 10px no-repeat;
    background-size: 23px 24px;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 40px 10px 10px 10px;
    width: 70px;
  }
}

.mainFooter {
  margin-top: 64px;
  font-size: 12px;
  font-size: 1.2rem;
  border-top: 1px solid #f5f5f5;
  background: #fdfdfd;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #f9f9f9 50%, #f3f3f3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fdfdfd 0%, #f9f9f9 50%, #f3f3f3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f3f3f3',GradientType=0 );
  /* IE6-9 */
}
.mainFooter__inner {
  max-width: 1024px;
  margin: 0 auto;
}
.mainFooter__navTitle {
  font-weight: bold;
  position: relative;
}
.mainFooter__navTitle .icon:after {
  display: none;
}
.mainFooter__navTitle--member {
  display: table;
  margin-top: 35px;
}
.mainFooter__navBody {
  display: table;
  width: 100%;
}
.mainFooter__navBodyItem {
  display: table-cell;
  width: 20%;
  padding: 0 10px;
  box-sizing: border-box;
}
.mainFooter__areaA {
  padding: 30px 0;
}
.mainFooter__areaA .mainFooter__navItem {
  line-height: 1.4;
  margin-top: 6px;
}
.mainFooter__areaB {
  border-top: 1px solid #e0e0e0;
  text-align: center;
}
.mainFooter__areaB .mainFooter__navGroup {
  display: inline-block;
}
.mainFooter__areaB .mainFooter__navItem {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.mainFooter__areaB .mainFooter__navItem a {
  display: block;
  padding: 20px 12px;
}
.mainFooter__copyright {
  color: #ffffff;
  background: #666666;
  padding: 7px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .mainFooter__inner {
    padding: 0;
  }
  .mainFooter {
    background: #ffffff;
    border: none;
  }
  .mainFooter__navTitle {
    font-weight: bold;
  }
  .mainFooter__navTitle .icon:after {
    display: block;
    position: absolute;
    right: 3%;
    top: 50%;
    margin-top: -9px;
  }
  .mainFooter__navTitle.js-is-current {
    background: #f5f5f5;
  }
  .mainFooter__navTitle.js-is-current .icon:after {
    content: "\e905";
  }
  .mainFooter__navTitle--member {
    margin-top: 0;
  }
  .mainFooter__navBody {
    display: block;
  }
  .mainFooter__navBodyItem {
    display: block;
    width: 100%;
    padding: 0;
  }
  .mainFooter__navBodyItem a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
  }
  .mainFooter__navBodyItem:first-child > a {
    border-top: 1px solid #e0e0e0;
  }
  .mainFooter__navGroup {
    display: none;
  }
  .mainFooter__areaA {
    padding: 0;
  }
  .mainFooter__areaA .mainFooter__navItem {
    background: #f5f5f5;
    margin-top: 0;
  }
  .mainFooter__areaB {
    text-align: left;
    padding: 0;
    border: none;
    background: #f5f5f5;
  }
  .mainFooter__areaB .mainFooter__navGroup {
    display: block;
  }
  .mainFooter__areaB .mainFooter__navItem {
    line-height: 1.8;
    width: 50%;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
  }
  .mainFooter__areaB .mainFooter__navItem:nth-child(even) {
    border-right: none;
  }
  .mainFooter__areaB .mainFooter__navItem:nth-child(3), .mainFooter__areaB .mainFooter__navItem:nth-child(4) {
    border-bottom: none;
  }
}
@media only screen and (max-width: 640px) {
  .mainFooter {
    margin-top: 0;
  }
}

.mainNav__group {
  display: inline-block;
  font-size: 0px;
  font-size: 0rem;
}
.mainNav__item {
  position: relative;
  font-size: 15px;
  font-size: 1.5rem;
  display: inline-block;
}
.mainNav__item > a {
  display: block;
  padding: 0 16px;
  position: relative;
}
.mainNav__item > a .icon {
  padding: 10px 0;
  display: inline-block;
  border-bottom: 5px solid #ffffff;
}
.mainNav__item > a .icon:after {
  font-size: 12px;
  font-size: 1.2rem;
  padding-left: 7px;
  font-weight: bold;
}
.mainNav__item > a:after {
  top: 25%;
  width: 0;
  height: 50%;
  z-index: 50;
  display: block;
  content: '';
  position: absolute;
  border-left: 1px solid #e0e0e0;
  left: 100%;
}
.mainNav__item > a:before {
  top: 25%;
  width: 0;
  height: 50%;
  z-index: 50;
  display: block;
  content: '';
  position: absolute;
  border-left: 1px solid #e0e0e0;
  left: 0;
}
.mainNav__item > a.js-is-current .icon {
  border-bottom-color: #e0e0e0;
}
.mainNav__item > a.js-is-current .icon-r:after {
  content: "\e905";
}
.mainNav__item:first-child a:before {
  display: none;
}
.mainNav__item:last-child > a {
  padding-right: 8px;
}
.mainNav__item:last-child a:after {
  display: none;
}
body.products .mainNav__item--products > a .icon, body.beautyinfo .mainNav__item--beautyinfo > a .icon, body.campaign .mainNav__item--campaign > a .icon, body.member .mainNav__item--member > a .icon, body.contact .mainNav__item--contact > a .icon, body.company .mainNav__item--company > a .icon {
  border-bottom: 5px solid #e0e0e0;
}
.mainNav__subInner {
  display: none;
  background: rgba(245, 245, 245, 0.95);
  width: 270px;
  position: absolute;
  left: 0;
  z-index: 50;
  box-shadow: 0px 7px 18px -1px rgba(50, 50, 50, 0.15);
}
.mainNav__subGroup {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  border-top: 1px solid #e0e0e0;
}
.mainNav__subItem {
  font-size: 14px;
  font-size: 1.4rem;
  text-align: left;
  vertical-align: middle;
}
.mainNav__subItem > a {
  display: block;
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.mainNav__subItem > a:hover {
  background: rgba(224, 224, 224, 0.95);
}
.mainNav__subItem .icon:after {
  display: none;
}
.mainNav__subItem .icon.icon-blank:after {
  display: inline-block;
}
.mainNav__item--contact .mainNav__subInner {
  left: -95px;
}
.mainNav__item--company .mainNav__subInner {
  left: -175px;
}
@media only screen and (max-width: 1024px) {
  .mainNav {
    text-align: left;
  }
  .mainNav__group {
    display: block;
    margin: 0 10px;
    border-top: 1px solid #e0e0e0;
  }
  .mainNav__item {
    display: block;
    border: none;
  }
  .mainNav__item > a {
    display: block;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 5% 15px 15px;
  }
  .mainNav__item > a .icon {
    padding: 0;
    border: none;
  }
  .mainNav__item > a .icon:after {
    display: block;
    position: absolute;
    right: 3%;
    top: 50%;
    margin-top: -9px;
    margin-top: -6px;
  }
  .mainNav__item > a:before {
    display: none;
  }
  .mainNav__item > a:after {
    display: none;
  }
  body[class] .mainNav__item > a .icon {
    border: none;
  }
  .mainNav__subInner {
    width: auto;
    background: #f0f0f0;
    border: none;
    position: static;
    box-shadow: none;
  }
  .mainNav__subGroup {
    border: none;
  }
  .mainNav__subItem {
    display: block;
    height: auto;
    text-align: left;
  }
  .mainNav__subItem > a {
    display: block;
    padding-left: 40px;
    position: relative;
  }
}

.subNav {
  border-top: 2px solid #ffb9d7;
  line-height: 1.25;
}
.subNav span {
  display: block;
}
.subNav a {
  display: block;
  transition-property: opacity, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.subNav a.is-current, .subNav a:hover {
  background: #f5f5f5;
}
.subNav__title {
  display: block;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
  padding: 25px 0 10px 10px;
  font-size: 12px;
  font-size: 1.2rem;
}
.subNav__item {
  font-size: 16px;
  font-size: 1.6rem;
}
.subNav__item > a,
.subNav__item > span {
  padding: 12px 8px;
  border-bottom: 1px solid #e0e0e0;
}
.subNav__subItem {
  font-size: 14px;
  font-size: 1.4rem;
}
.subNav__subItem > a,
.subNav__subItem > span {
  padding: 12px 24px;
  border-bottom: 1px solid #e0e0e0;
}
.subNav__ssubItem {
  font-size: 14px;
  font-size: 1.4rem;
}
.subNav__ssubItem > a,
.subNav__ssubItem > span {
  padding: 12px 24px 12px 36px;
  border-bottom: 1px solid #e0e0e0;
}
@media only screen and (max-width: 640px) {
  .subNav__title {
    padding-left: 5px;
  }
  .subNav__item > a,
  .subNav__item > span {
    padding: 12px 5px;
  }
  .subNav__subItem > a,
  .subNav__subItem > span {
    padding: 12px;
  }
  .subNav__ssubItem > a,
  .subNav__ssubItem > span {
    padding: 12px 19px;
  }
}

.brandNav {
  display: none;
  background: #f5f5f5;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 50;
  padding: 30px 0 64px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.15);
}
.brandNav.js-is-open {
  display: block;
}
.brandNav__inner {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
.brandNav__group {
  font-size: 0px;
  font-size: 0rem;
  margin: 0 -13px;
}
.brandNav__group:before, .brandNav__group:after {
  content: "";
  display: table;
}
.brandNav__group:after, .brandNav__group:after {
  clear: both;
}
.brandNav__group {
  zoom: 1;
}
.brandNav__item {
  display: inline-block;
  width: 25%;
  padding: 15px 13px 0 13px;
  box-sizing: border-box;
}
.brandNav__item img {
  width: 100%;
  height: auto;
}
.brandNav__item a {
  display: block;
}
.brandNav__categoryGroup {
  margin: 0 -13px;
}
.brandNav__categoryGroup:before, .brandNav__categoryGroup:after {
  content: "";
  display: table;
}
.brandNav__categoryGroup:after, .brandNav__categoryGroup:after {
  clear: both;
}
.brandNav__categoryGroup {
  zoom: 1;
}
.brandNav__category {
  float: left;
  width: 50%;
}
.brandNav__category .brandNav__item {
  width: 50%;
}
.brandNav__categoryTitle {
  margin: 20px 0 0 13px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
.brandNav__external {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #cccccc;
}
@media only screen and (max-width: 1024px) {
  .brandNav {
    border: none;
    box-shadow: none;
  }
  .brandNav__inner {
    padding: 0 20px;
  }
  .brandNav__category {
    width: 100%;
  }
  .brandNav__category .brandNav__item {
    width: 33.33%;
  }
  .brandNav__item {
    width: 33.33%;
  }
}
@media only screen and (max-width: 640px) {
  .brandNav {
    padding: 15px 0 32px 0;
  }
  .brandNav__inner {
    padding: 0 10px;
  }
  .brandNav__group {
    margin: 0 -8px;
  }
  .brandNav__item {
    padding-left: 8px;
    padding-right: 8px;
  }
  .brandNav__categoryGroup {
    margin: 0 -8px;
  }
  .brandNav__category .brandNav__item {
    width: 50%;
  }
  .brandNav__item {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  .c-heading + .mainContentsOuter .mainContents__inner {
    padding-top: 15px;
  }
}
.mainContentsOuter--multicol {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 48px;
}
.mainContentsOuter--multicol:before, .mainContentsOuter--multicol:after {
  content: "";
  display: table;
}
.mainContentsOuter--multicol:after, .mainContentsOuter--multicol:after {
  clear: both;
}
.mainContentsOuter--multicol {
  zoom: 1;
}
.mainContentsOuter--multicol .mainContents {
  width: 100%;
  float: right;
}
.mainContentsOuter--multicol .mainContents__inner {
  margin-left: 266px;
  padding-top: 0;
}
@media only screen and (max-width: 1024px) {
  .mainContentsOuter--multicol .mainContents {
    width: 100%;
    float: none;
  }
  .mainContentsOuter--multicol .mainContents__inner {
    margin: 0;
  }
}
@media only screen and (max-width: 640px) {
  .c-heading + .mainContentsOuter--multicol {
    padding-top: 15px;
  }
  .c-heading + .mainContentsOuter--multicol .mainContents__inner {
    padding-top: 0;
  }
}

.mainBody {
  /* defalt settings */
}
.mainBody h5 {
  font-weight: bold;
}
.mainBody img {
  vertical-align: bottom;
}
body em {
  font-weight: bold;
  font-style: normal;
}

.mainContents__inner {
  padding-top: 48px;
}

.subContents {
  float: left;
  width: 226px;
  margin-right: -226px;
}

.l-baseSection {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
.l-baseSection > *:first-child {
  margin-top: 0 !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 9999px;
  z-index: 0;
  display: none;
  background-color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .l-baseSection {
    padding: 0 20px;
  }

  .subContents {
    float: none;
    display: block;
    width: 100%;
    margin: 48px 0 0 0;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 640px) {
  .mainContents__inner {
    padding-top: 32px;
  }

  .l-baseSection {
    padding: 0 10px;
  }

  .subContents {
    margin-top: 32px;
    padding: 0 10px;
  }
}
.l-grid {
  margin: 48px -1.95% 0;
}
.l-grid:before, .l-grid:after {
  content: "";
  display: table;
}
.l-grid:after, .l-grid:after {
  clear: both;
}
.l-grid {
  zoom: 1;
}
.l-grid img {
  width: 100%;
  height: auto;
}
.l-grid > [class*="l-grid"] > *:first-child,
.l-grid > [class*="l-grid"] > a > *:first-child {
  margin-top: 0;
}
.l-grid--autoLine {
  margin-bottom: -48px;
  overflow: hidden;
}
.l-grid--autoLine [class*="l-grid"] {
  margin-bottom: 48px;
}
.l-gridL-12, .l-gridL-11, .l-gridL-10, .l-gridL-9, .l-gridL-8, .l-gridL-7, .l-gridL-6, .l-gridL-5, .l-gridL-4, .l-gridL-3, .l-gridL-2, .l-gridL-1 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 1.95%;
  box-sizing: border-box;
}
.l-gridL-12 {
  width: 100%;
}
.l-gridL-11 {
  width: 91.66666667%;
}
.l-gridL-10 {
  width: 83.33333333%;
}
.l-gridL-9 {
  width: 75%;
}
.l-gridL-8 {
  width: 66.66666667%;
}
.l-gridL-7 {
  width: 58.33333333%;
}
.l-gridL-6 {
  width: 50%;
}
.l-gridL-5 {
  width: 41.66666667%;
}
.l-gridL-4 {
  width: 33.33333333%;
}
.l-gridL-3 {
  width: 25%;
}
.l-gridL-2 {
  width: 16.66666667%;
}
.l-gridL-1 {
  width: 8.33333333%;
}
@media only screen and (max-width: 1024px) {
  .l-gridM-12, .l-gridM-11, .l-gridM-10, .l-gridM-9, .l-gridM-8, .l-gridM-7, .l-gridM-6, .l-gridM-5, .l-gridM-4, .l-gridM-3, .l-gridM-2, .l-gridM-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 1.95%;
    box-sizing: border-box;
  }
  .l-gridM-12 {
    width: 100%;
  }
  .l-gridM-11 {
    width: 91.66666667%;
  }
  .l-gridM-10 {
    width: 83.33333333%;
  }
  .l-gridM-9 {
    width: 75%;
  }
  .l-gridM-8 {
    width: 66.66666667%;
  }
  .l-gridM-7 {
    width: 58.33333333%;
  }
  .l-gridM-6 {
    width: 50%;
  }
  .l-gridM-5 {
    width: 41.66666667%;
  }
  .l-gridM-4 {
    width: 33.33333333%;
  }
  .l-gridM-3 {
    width: 25%;
  }
  .l-gridM-2 {
    width: 16.66666667%;
  }
  .l-gridM-1 {
    width: 8.33333333%;
  }
}
@media only screen and (max-width: 640px) {
  .l-grid {
    margin-top: 32px;
  }
  .l-grid--imgText > [class*="l-grid"] + [class*="l-grid"] {
    margin-top: 20px;
  }
  .l-grid--imgText > [class*="l-grid"] + [class*="l-grid"] > .c-heading {
    margin-top: 17px;
  }
  .l-grid--imgText .c-imgText__img img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
  .l-grid--imgText .c-imgText__img--full img {
    width: 100%;
    height: auto;
  }
  .l-grid--imgText .c-imgText__caption {
    text-align: center;
  }
  .l-grid--autoLine {
    margin-bottom: -32px;
  }
  .l-grid--autoLine [class*="l-grid"] {
    margin-bottom: 32px;
  }
  .l-gridS-12, .l-gridS-11, .l-gridS-10, .l-gridS-9, .l-gridS-8, .l-gridS-7, .l-gridS-6, .l-gridS-5, .l-gridS-4, .l-gridS-3, .l-gridS-2, .l-gridS-1 {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 1.95%;
    box-sizing: border-box;
  }
  .l-gridS-12 {
    width: 100%;
  }
  .l-gridS-11 {
    width: 91.66666667%;
  }
  .l-gridS-10 {
    width: 83.33333333%;
  }
  .l-gridS-9 {
    width: 75%;
  }
  .l-gridS-8 {
    width: 66.66666667%;
  }
  .l-gridS-7 {
    width: 58.33333333%;
  }
  .l-gridS-6 {
    width: 50%;
  }
  .l-gridS-5 {
    width: 41.66666667%;
  }
  .l-gridS-4 {
    width: 33.33333333%;
  }
  .l-gridS-3 {
    width: 25%;
  }
  .l-gridS-2 {
    width: 16.66666667%;
  }
  .l-gridS-1 {
    width: 8.33333333%;
  }
}
