@charset "UTF-8";
/* ============================================================ components */

body {
font-family: 'Noto Sans Japanese', serif;
}
.c-form__containerBody{
  font-weight:100!important;
}
.c-form label{
  font-weight: 100!important;
}
.c-box {
  margin-top: 48px;
}
.c-box__inner {
  border: 1px solid #e0e0e0;
  padding: 48px;
}
.c-box__inner *:first-child {
  margin-top: 0;
}
.c-box--emphasis .c-box__inner {
  border: 1px solid #d54f60;
}
.c-box--strongly .c-box__inner {
  background: url(../img/bg_box_noise.png) 0 0 repeat;
}
@media only screen and (max-width: 640px) {
  .c-box {
    margin-top: 32px;
  }
  .c-box__inner {
    padding: 16px;
  }
}

.c-breadcrumb {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 5px 0;
  border-bottom: 1px solid #ebebeb;
  background: #f8f5f6;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #f8f5f6 0%, #ffffff 16%, #ffffff 37%, #fcfbfb 67%, #f9f7f7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f8f5f6 0%, #ffffff 16%, #ffffff 37%, #fcfbfb 67%, #f9f7f7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f5f6', endColorstr='#f9f7f7',GradientType=1 );
  /* IE6-9 */
}
.c-breadcrumb__inner {
  max-width: 1024px;
  margin: 0 auto;
}
.c-breadcrumb__item {
  display: inline-block;
  vertical-align: middle;
}
.c-breadcrumb__item a, .c-breadcrumb__item span {
  position: relative;
  padding-right: 12px;
}
.c-breadcrumb__item a:after, .c-breadcrumb__item span:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
  display: block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5px 0 2.5px 5px;
  border-color: transparent transparent transparent #4c4c4c;
}
html.ie .c-breadcrumb__item a, html.ie .c-breadcrumb__item span {
  vertical-align: middle;
}
.c-breadcrumb__item:last-child {
  font-weight: bold;
}
.c-breadcrumb__item:last-child a:after, .c-breadcrumb__item:last-child span:after {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .c-breadcrumb__inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 640px) {
  .c-breadcrumb {
    display: none;
    margin-top: 32px;
    background: #f5f5f5 none;
    border-bottom: none;
  }
}

.c-button {
  margin-top: 48px;
  font-weight: bold;
}
.c-button__act {
  display: inline-block;
  text-align: center;
  border: 1px solid #adadad;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  background: #fffffe;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #fffffe 0%, #fafafa 50%, #f5f5f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fffffe 0%, #fafafa 50%, #f5f5f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffffe', endColorstr='#f5f5f6',GradientType=0 );
  /* IE6-9 */
  transition-property: opacity, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.c-button__act:link, .c-button__act:visited {
  color: #666666;
}
.c-button__act:hover {
  opacity: 0.85;
  background: #f5f5f5;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #faf9f9 50%, #fffffe 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f5f5f5 0%, #faf9f9 50%, #fffffe 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#fffffe',GradientType=0 );
  /* IE6-9 */
}
.c-button__act--flat {
  background: #ffffff;
  -ms-filter: none;
  filter: none;
}
.c-button--flex .c-button__act {
  width: 100%;
}
.c-button--group {
  text-align: center;
}
.c-button--S .c-button__act {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 5px 16px;
}
.c-button--M .c-button__act {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 10px 32px;
}
.c-button--L .c-button__act {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 15px 40px;
}
.c-button--emphasis .c-button__act {
  color: #ffffff;
  border: 1px solid #4c4c4c;
  background: #666666;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #666666 0%, #595959 51%, #4c4c4c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #666666 0%, #595959 51%, #4c4c4c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4c4c4c',GradientType=0 );
  /* IE6-9 */
}
.c-button--emphasis .c-button__act:hover {
  background: #4c4c4c;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #4c4c4c 1%, #595959 52%, #666666 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 1%, #595959 52%, #666666 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#666666',GradientType=0 );
  /* IE6-9 */
}
.c-button--careful .c-button__act {
  color: #ffffff;
  border: 1px solid #ff9900;
  background: #fdd59a;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #fdd59a 0%, #fdba54 50%, #ff9a05 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fdd59a 0%, #fdba54 50%, #ff9a05 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd59a', endColorstr='#ff9a05',GradientType=0 );
  /* IE6-9 */
}
.c-button--careful .c-button__act:hover {
  background: #ff9a05;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #ff9a05 0%, #fdba54 50%, #fdd59a 100%, #fdd59a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff9a05 0%, #fdba54 50%, #fdd59a 100%, #fdd59a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a05', endColorstr='#fdd59a',GradientType=0 );
  /* IE6-9 */
}
@media only screen and (max-width: 640px) {
  .c-button {
    margin-top: 32px;
  }
  .c-button--group .c-button__act + .c-button__act {
    margin-top: 32px;
  }
  .c-button--S .c-button__act, .c-button--M .c-button__act, .c-button--L .c-button__act {
    width: 100%;
  }
}

.c-form select {
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.c-form button {
  font-weight: bold;
  color: #4c4c4c;
}
.c-form input[type="text"],
.c-form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.c-form input {
  vertical-align: middle;
}
.c-form label {
  font-weight: normal;
  position: relative;
  vertical-align: middle;
}
.c-form__required {
  font-size: 12px;
  font-size: 1.2rem;
  background: #ffffff;
  font-weight: bold;
  vertical-align: middle;
  margin: 0 2px 0 5px;
  color: #f44336;
  border: 1px solid #f44336;
  padding: 1px 3px;
  display: inline-block;
}
.c-form__inlineBody {
  display: inline-block;
  width: 100%;
}
.c-form__inputText {
  margin-top: 48px;
}
.c-form__inputTextItem {
  border: 1px solid #cccccc;
  width: 100%;
  border-radius: 4px;
  min-height: 44px;
  padding: 6px 16px;
  box-sizing: border-box;
}
.c-form__textArea {
  margin-top: 48px;
}
.c-form__textAreaItem {
  width: 100%;
  height: 10em;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 6px 16px;
  box-sizing: border-box;
}
.c-form__radioItem {
  display: none;
}
.c-form__radioLabel {
  display: block;
  padding: 3px 3px 3px 20px;
  cursor: pointer;
}
.c-form__radioLabel:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  margin-top: -9px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 100%;
}
.c-form__radioItem:checked + .c-form__radioHidden:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 4px;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  background: #f769a6;
  border-radius: 100%;
}
.c-form__checkItem {
  display: none;
}
.c-form__checkLabel {
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor: pointer;
}
.c-form__checkLabel:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  margin-top: -9px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #ccc;
}
.c-form__checkItem:checked + .c-form__checkHidden:after {
  position: absolute;
  content: '';
  top: 9px;
  left: 3px;
  width: 13px;
  height: 5px;
  border-left: 2px solid #f769a6;
  border-bottom: 2px solid #f769a6;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.c-form__select {
  margin-top: 48px;
}
.c-form__selectLabel {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.c-form__selectLabel:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  margin: -2px 0 0 0;
  border: 5px solid transparent;
  border-top: 7px solid #000000;
}
.c-form__selectItem {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 16px;
}
.c-form__selectItem:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.c-form__selectItem::-ms-expand {
  display: none;
}
.c-form--error {
  display: block;
  padding-top: 20px;
  font-size: 14px;
  font-size: 1.4rem;
}
.c-form--error .c-form__inputTextItem,
.c-form--error .c-form__textAreaItem,
.c-form--error .c-form__selectLabel {
  border: 1px solid #f44336;
  background: #ffebee;
}
.c-form--error .c-form__errorMessage {
  position: relative;
  top: -10px;
  color: #ffffff;
  background: #ff8084;
  border: 1px solid #ff8084;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px 0px #e0e0e0;
}
.c-form--error .c-form__errorMessage:after,
.c-form--error .c-form__errorMessage:before {
  top: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.c-form--error .c-form__errorMessage:after {
  border-color: rgba(244, 67, 54, 0);
  border-top-color: #ff8084;
  border-width: 6px;
  margin-left: -6px;
}
.c-form--error .c-form__errorMessage:before {
  border-color: rgba(202, 54, 54, 0);
  border-top-color: #ff8084;
  border-width: 7px;
  margin-left: -7px;
}
.c-form__container {
  margin-top: 48px;
  display: table;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}
.c-form__containerRow {
  display: table-row;
}
.c-form__containerTitle, .c-form__containerBody {
  vertical-align: top;
  padding: 24px;
  display: table-cell;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.c-form__containerTitle *:first-child, .c-form__containerBody *:first-child {
  margin-top: 0;
}
.c-form__containerTitle {
  width: 25%;
  background: #f5f5f5;
  font-weight: bold;
}
.c-form__steps {
  line-height: 1;
  font-size: 14px;
  font-size: 1.4rem;
}
.c-form__steps:before, .c-form__steps:after {
  content: "";
  display: table;
}
.c-form__steps:after, .c-form__steps:after {
  clear: both;
}
.c-form__steps {
  zoom: 1;
}
.c-form__steps li {
  float: left;
  width: 24.5%;
  position: relative;
  margin: 4px 4px 4px 0;
}
.c-form__steps li em {
  width: 100%;
  font-weight: normal;
}
.c-form__steps li:first-of-type > * {
  padding-left: 20px;
}
.c-form__steps li:last-of-type {
  margin-right: 0;
}
.c-form__steps li:last-of-type > * {
  padding-right: 20px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.c-form__steps li.is-checked > *:before {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 5px;
  content: '';
  width: 21px;
  height: 21px;
  background: url(../img/bg_steps_check.png) 0 0 no-repeat;
  background-size: 21px;
}
.c-form__steps li > * {
  position: relative;
  box-sizing: border-box;
  padding: 14px 20px 14px 40px;
  color: #2c3f4c;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  display: inline-block;
}
.c-form__steps li.is-current > * {
  background-color: #d54f60;
  border-color: #d54f60;
  color: #ffffff;
}
.c-form__steps li.is-plane > * {
  background: transparent;
}
.c-form__steps li:after, .c-form__steps li > *:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  height: 0;
  width: 0;
  border: 21px solid transparent;
  border-right-width: 0;
}
.c-form__steps li:after {
  z-index: 1;
  border-left-color: #ffffff;
  margin: 0;
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
}
.c-form__steps li > *:after {
  z-index: 10;
  border-left-color: inherit;
}
.c-form__steps li:last-of-type:after, .c-form__steps li:last-of-type > *:after {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .c-form__steps li {
    width: 24.2%;
  }
}
@media only screen and (max-width: 640px) {
  .c-form__inputText {
    margin-top: 32px;
  }
  .c-form__textArea {
    margin-top: 32px;
  }
  .c-form__select {
    margin-top: 32px;
  }
  .c-form__checkItem:checked + .c-form__checkHidden:after {
    top: 6px;
  }
  .c-form__steps {
    font-size: 8px;
    font-size: 0.8rem;
  }
  .c-form__steps li {
    width: 24%;
  }
  .c-form__steps li:first-of-type > * {
    padding-left: 6px;
  }
  .c-form__steps li > * {
    padding: 29px 8px 8px 28px;
    min-height: 48px;
  }
  .c-form__steps li:after, .c-form__steps li > *:after {
    border-width: 24px;
  }
  .c-form__steps li.is-checked > *:before {
    top: 6px;
    left: 28px;
    margin-top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    background-size: 14px;
  }
  .c-form__steps li.is-checked:first-of-type > *:before {
    left: 6px;
  }
  .c-form__container {
    display: block;
  }
  .c-form__containerRow {
    display: block;
  }
  .c-form__containerRow:last-of-type {
    border-bottom: 1px solid #cccccc;
  }

  .c-form__containerTitle, .c-form__containerBody {
    padding: 10px;
    display: block;
    border: 1px solid #cccccc;
    border-bottom: none;
  }
  .c-form__containerTitle *:first-child, .c-form__containerBody *:first-child {
    margin-top: 0;
  }
  .c-form__containerTitle {
    width: auto;
  }
}

.c-accordion {
  margin-top: 48px;
}
.c-accordion .is-open {
  border-radius: 4px 4px 0 0;
  background: #f5f5f5;
}
.c-accordion .is-close + .c-accordion__body {
  display: none;
}
.c-accordion__title {
  transition-property: opacity, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  position: relative;
  display: block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px 35px 8px 16px;
}
.c-accordion__title .icon:after {
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -9px;
}
.c-accordion__body {
  display: block;
  padding: 16px;
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
.c-accordion__body > *:first-child {
  margin-top: 0;
}
@media only screen and (max-width: 640px) {
  .c-accordion {
    margin-top: 32px;
  }
  .c-accordion__title.is-open {
    border-radius: 4px;
    background: transparent;
  }
  .c-accordion__title.is-open .icon:after {
    content: "\e903";
  }
  .c-accordion__body {
    display: none;
  }
}
.c-accordion .js-is-open {
  border-radius: 4px 4px 0 0;
  background: #f5f5f5;
}
.c-accordion .js-is-open .icon:after {
  content: "\e905";
}
.c-accordion .js-is-close {
  border-radius: 4px;
  background: transparent;
}
.c-accordion .js-is-close .icon:after {
  content: "\e903";
}
.c-accordion__title:hover {
  background: #f5f5f5;
}

.c-tab {
  margin-top: 48px;
  line-height: 1.25;
}
.c-tab--col2 .c-tab__titleItem {
  width: 50%;
}
.c-tab--col3 .c-tab__titleItem {
  width: 33.33%;
}
.c-tab--col4 .c-tab__titleItem {
  width: 25%;
}
.c-tab__title {
  display: table;
  width: 100%;
}
.c-tab__titleItem {
  display: table-cell;
  padding-right: 8px;
  vertical-align: bottom;
  text-align: center;
}
.c-tab__titleItem:last-child {
  padding-right: 0;
}
.c-tab__titleItem a {
  transition-property: opacity, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  display: block;
  top: 1px;
  position: relative;
  background: #f5f5f5;
  padding: 16px 12px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #ffffff;
  border-radius: 4px 4px 0 0;
}
.c-tab__titleItem a.is-current {
  z-index: 10;
  margin: 0;
  background: #ffffff;
}
.c-tab__titleItem a:hover {
  background: #ffffff;
}
.c-tab__body {
  border-top: 1px solid #cccccc;
  position: relative;
  z-index: 5;
}
.c-tab__bodyItem {
  margin-top: 24px;
}
@media only screen and (max-width: 640px) {
  .c-tab {
    font-size: 12px;
    font-size: 1.2rem;
    margin-top: 32px;
  }
  .c-tab__bodyItem {
    margin-top: 12px;
  }
}

.c-slide {
  position: relative;
  margin-top: 48px;
  padding-bottom: 41.40625%;
}
@media only screen and (max-width: 640px) {
  .c-slide {
    margin: 16px -10px 0 -10px;
    padding-bottom: 112.8125%;
  }
}
.c-slide > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.c-slide__intro {
  width: 100%;
  position: absolute;
  z-index: 2;
}
@media only screen and (max-width: 640px) {
  .c-slide__intro img:first-child {
    display: none;
  }
}
.c-slide__intro img:first-child + img {
  display: none;
}
@media only screen and (max-width: 640px) {
  .c-slide__intro img:first-child + img {
    display: block;
  }
}
.c-slide__main {
  position: relative;
  padding-bottom: 39.0625%;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 640px) {
  .c-slide__main {
    padding-bottom: 101.5625%;
  }
}
.c-slide__main ul {
  position: absolute;
  top: 0;
  left: 0;
}
.c-slide__main ul:before, .c-slide__main ul:after {
  content: "";
  display: table;
}
.c-slide__main ul:after, .c-slide__main ul:after {
  clear: both;
}
.c-slide__main ul {
  zoom: 1;
}
.c-slide__main ul li {
  float: left;
}
@media only screen and (max-width: 640px) {
  .c-slide__main ul li img:first-child {
    display: none;
  }
}
.c-slide__main ul li img:first-child + img {
  display: none;
}
@media only screen and (max-width: 640px) {
  .c-slide__main ul li img:first-child + img {
    display: block;
  }
}
.c-slide__pager {
  width: 100%;
  line-height: 1;
  padding-top: 10px;
  text-align: center;
}
.c-slide__pager > div, .c-slide__pager > ul, .c-slide__pager > ul > li {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.c-slide__pager > div {
  position: relative;
}
.c-slide__pager > div:first-child, .c-slide__pager > div:last-child {
  margin-right: 16px;
  margin-left: 16px;
}
@media only screen and (max-width: 640px) {
  .c-slide__pager > div:first-child, .c-slide__pager > div:last-child {
    position: absolute;
    margin-right: 0;
    margin-left: 0;
  }
}
.c-slide__pager > div:first-child > a, .c-slide__pager > div:last-child > a {
  display: block;
}
.c-slide__pager > div:first-child > a:after, .c-slide__pager > div:last-child > a:after {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}
@media only screen and (max-width: 640px) {
  .c-slide__pager > div:first-child > a:after, .c-slide__pager > div:last-child > a:after {
    font-size: 24px;
    margin-top: -5px;
  }
}
@media only screen and (max-width: 640px) {
  .c-slide__pager > div:first-child {
    left: 16px;
  }
}
.c-slide__pager > div:first-child > a:after {
  content: '\e902';
}
@media only screen and (max-width: 640px) {
  .c-slide__pager > div:last-child {
    right: 16px;
  }
}
.c-slide__pager > div:last-child > a:after {
  content: '\e904';
}
.c-slide__pager ul:before, .c-slide__pager ul:after {
  content: "";
  display: table;
}
.c-slide__pager ul:after, .c-slide__pager ul:after {
  clear: both;
}
.c-slide__pager ul {
  zoom: 1;
}
.c-slide__pager ul > li {
  width: 12px;
  height: 12px;
  margin-right: 16px;
  margin-left: 16px;
  background-color: #e0e0e0;
  border-radius: 100%;
  vertical-align: baseline;
}
@media only screen and (max-width: 640px) {
  .c-slide__pager ul > li {
    width: 6px;
    height: 6px;
    margin-right: 8px;
    margin-left: 8px;
  }
}
.c-slide__pager .is--active {
  background-color: #ffb9d7;
}
.c-slide a {
  display: block;
}
.c-slide img {
  max-width: 100%;
  vertical-align: top;
}
.c-slide--intro .c-slide__main,
.c-slide--intro .c-slide__pager {
  display: none;
}

.c-heading {
  position: relative;
}
.c-heading + *:not(.c-heading) {
  margin-top: 0 !important;
}
.c-heading--parentLabel {
  font-size: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 13px 0;
  background: #fff7fa;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #fff7fa 0%, #fffbfc 50%, #fffbfc 51%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff7fa 0%, #fffbfc 50%, #fffbfc 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7fa', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
.c-heading--parentLabel .c-heading__inner {
  max-width: 1024px;
  margin: 0 auto;
}
.c-heading--lv01 {
  margin-bottom: 0;
  font-size: 28px;
  font-size: 2.8rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 22px 0;
  background: #fff7fa;
  /* Old browsers */
  background: -webkit-linear-gradient(top, #fff7fa 0%, #fffbfc 50%, #fffbfc 51%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff7fa 0%, #fffbfc 50%, #fffbfc 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7fa', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
.c-heading--lv01 .c-heading__inner {
  max-width: 1024px;
  margin: 0 auto;
}
.c-heading--lv01 .c-heading__subTitle {
  font-size: 11px;
  font-size: 1.1rem;
  display: block;
}
.c-heading--lv01ImgA {
  font-size: 28px;
  font-size: 2.8rem;
}
.c-heading--lv01ImgA .c-heading__inner {
  max-width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 200px;
  background-image: url();
  background-repeat: no-repeat;
  background-position: right top;
}
.c-heading--lv01ImgA .c-heading__inner h1 {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 37px;
  box-sizing: border-box;
}
.c-heading--lv01ImgA .c-heading__inner h1 span {
  display: table-cell;
  height: 200px;
  vertical-align: middle;
}
@media screen and (max-width: 880px) {
  .c-heading--lv01ImgA .c-heading__inner {
    background-position: right 65px;
    padding: 0 0 265px 0;
  }
  .c-heading--lv01ImgA .c-heading__inner h1 {
    max-height: 65px;
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 10px 10px 20px;
  }
  .c-heading--lv01ImgA .c-heading__inner h1 span {
    height: auto;
  }
}
@media only screen and (max-width: 640px) {
  .c-heading--lv01ImgA {
    font-size: 20px;
    font-size: 2rem;
  }
  .c-heading--lv01ImgA .c-heading__inner {
    background-position: right bottom;
    padding: 0 0 100px 0;
    height: auto;
    background-size: auto 100px;
  }
  .c-heading--lv01ImgA .c-heading__inner h1 {
    max-height: none;
    padding-left: 10px;
  }
}
.c-heading--lv02 {
  margin: 70px 0 22px 0;
  font-size: 28px;
  font-size: 2.8rem;
  border-bottom: 1px solid #cccccc;
}
.c-heading--lv02:before {
  display: inline-block;
  content: '';
  height: 90%;
  border-left: 3px solid #d54f60;
  position: absolute;
  top: 0;
  left: 0px;
}
.c-heading--lv02:after {
  display: inline-block;
  content: '';
  height: 90%;
  border-left: 5px solid #d54f60;
  position: absolute;
  top: 0;
  left: 3px;
}
.c-heading--lv02 .c-heading__inner {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1px;
  padding-left: 18px;
}
.c-heading--lv03 {
  margin: 42px 0 22px 0;
  font-size: 24px;
  font-size: 2.4rem;
  border-bottom: 1px solid #cccccc;
}
.c-heading--lv03:before {
  display: inline-block;
  content: '';
  height: 90%;
  border-left: 3px solid #ff76b1;
  position: absolute;
  top: 0;
  left: 0px;
}
.c-heading--lv03:after {
  display: inline-block;
  content: '';
  height: 90%;
  border-left: 3px solid #ffb9d7;
  position: absolute;
  top: 0;
  left: 3px;
}
.c-heading--lv03 .c-heading__inner {
  padding-left: 16px;
}
.c-heading--lv04 {
  margin: 37px 0 14px 0;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
}
.c-heading--lv04:before {
  display: inline-block;
  content: '';
  height: 90%;
  border-left: 3px solid #ff76b1;
  position: absolute;
  top: 0;
  left: 0px;
}
.c-heading--lv04:after {
  display: inline-block;
  content: '';
  height: 90%;
  border-left: 3px solid #ffb9d7;
  position: absolute;
  top: 0;
  left: 3px;
}
.c-heading--lv04 .c-heading__inner {
  padding-left: 16px;
}
.c-heading--lv05 {
  margin: 18px 0 10px 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .c-heading--lv01 .c-heading__inner, .c-heading--parentLabel .c-heading__inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 640px) {
  .c-heading {
    line-height: 1.4;
  }
  .c-heading--parentLabel {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 8px 0;
  }
  .c-heading--parentLabel .c-heading__inner {
    padding: 0 10px;
  }
  .c-heading--lv01 {
    font-size: 20px;
    font-size: 2rem;
    padding: 17px 0;
  }
  .c-heading--lv01 .c-heading__inner {
    padding: 0 10px;
  }
  .c-heading--lv02 {
    font-size: 20px;
    font-size: 2rem;
    margin-top: 32px;
  }
  .c-heading--lv02 .c-heading__inner {
    padding-left: 11px;
  }
  .c-heading--lv02:before {
    display: inline-block;
    content: '';
    height: 90%;
    border-left: 2px solid #d54f60;
    position: absolute;
    top: 0;
    left: 0px;
  }
  .c-heading--lv02:after {
    display: inline-block;
    content: '';
    height: 90%;
    border-left: 3px solid #ffb9d7;
    position: absolute;
    top: 0;
    left: 2px;
  }
  .c-heading--lv03 {
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: 32px;
  }
  .c-heading--lv03:before {
    display: inline-block;
    content: '';
    height: 90%;
    border-left: 2px solid #ff76b1;
    position: absolute;
    top: 0;
    left: 0px;
  }
  .c-heading--lv03:after {
    display: inline-block;
    content: '';
    height: 90%;
    border-left: 2px solid #ffb9d7;
    position: absolute;
    top: 0;
    left: 2px;
  }
  .c-heading--lv03 .c-heading__inner {
    padding-left: 11px;
  }
  .c-heading--lv04 {
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 32px;
  }
  .c-heading--lv04:before {
    display: inline-block;
    content: '';
    height: 90%;
    border-left: 2px solid #ff76b1;
    position: absolute;
    top: 0;
    left: 0px;
  }
  .c-heading--lv04:after {
    display: inline-block;
    content: '';
    height: 90%;
    border-left: 2px solid #ffb9d7;
    position: absolute;
    top: 0;
    left: 2px;
  }
  .c-heading--lv04 .c-heading__inner {
    padding-left: 11px;
  }
}

.c-img {
  margin-top: 1em;
}
.c-img--fillImg {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.c-imgText {
  margin-top: 48px;
}
.c-imgText:before, .c-imgText:after {
  content: "";
  display: table;
}
.c-imgText:after, .c-imgText:after {
  clear: both;
}
.c-imgText {
  zoom: 1;
}
.c-imgText__heading {
  font-weight: bold;
  line-height: 1.5;
}
.c-imgText__caption {
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 8px;
}
.c-imgText__img img {
  vertical-align: top;
  box-sizing: border-box;
}
.c-imgText__text--ofh {
  overflow: hidden;
}
.c-imgText--basic .c-imgText__img, .c-imgText--basicConstant .c-imgText__img {
  margin-top: 0;
}
.c-imgText--basic .c-imgText__heading, .c-imgText--basicConstant .c-imgText__heading {
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 12px;
}
.c-imgText--basic .c-imgText__text, .c-imgText--basicConstant .c-imgText__text {
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 8px;
  line-height: 1.4;
}
.c-imgText--sideImg {
  display: table;
  width: 100%;
}
.c-imgText--sideImg .c-imgText__img {
  display: table-cell;
  width: 100px;
  padding-right: 16px;
  vertical-align: top;
}
.c-imgText--sideImg .c-imgText__inner {
  display: table-cell;
  vertical-align: middle;
}
.c-imgText--sideImg .c-imgText__heading {
  font-size: 16px;
  font-size: 1.6rem;
}
.c-imgText--sideImg .c-imgText__text {
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 5px;
}
.c-imgText--line .c-imgText__img {
  border: 1px solid #e0e0e0;
  overflow: hidden;
}
.c-imgText--line .c-imgText__inner {
  overflow: hidden;
  border: 1px solid #e0e0e0;
  border-top: none;
  padding: 15px;
}
.c-imgText--line .c-imgText__heading {
  font-size: 14px;
  font-size: 1.4rem;
}
.c-imgText--imgR .c-imgText__img img {
  float: right;
  margin-left: 30px;
}
.c-imgText--imgR .c-imgText__text {
  margin: 0;
}
.c-imgText--imgL .c-imgText__img img {
  float: left;
  margin-right: 30px;
}
.c-imgText--imgL .c-imgText__text {
  margin: 0;
}
.c-imgText--sTitle .c-imgText__heading {
  font-size: 16px;
  font-size: 1.6rem;
}
@media only screen and (max-width: 640px) {
  .c-imgText {
    margin-top: 32px;
  }
  .l-grid--autoLine .c-imgText--basic {
    margin-bottom: -32px;
  }
  .l-grid--autoLine > [class*=l-grid]:last-child .c-imgText--basic {
    margin-bottom: 0;
  }
  .c-imgText--basic .c-imgText__heading, .c-imgText--basicConstant .c-imgText__heading {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .c-imgText--basic .c-imgText__text, .c-imgText--basicConstant .c-imgText__text {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .c-imgText--basic {
    display: table;
    width: 100%;
    margin-top: 20px;
    padding: 8px 0;
    border-top: 1px solid #e0e0e0;
  }
  .c-imgText--basic .c-imgText__img {
    display: table-cell;
    width: 100px;
    padding-right: 8px;
    height: auto;
    vertical-align: top;
  }
  .c-imgText--basic .c-imgText__inner {
    display: table-cell;
    vertical-align: top;
  }
  .c-imgText--basic .c-imgText__heading {
    margin-top: 0;
  }
  .c-imgText--basic .c-imgText__text {
    margin-top: 0;
  }
  .c-imgText--basicConstant .c-imgText__heading {
    margin-top: 8px;
  }
  .c-imgText--basicConstant .c-imgText__text {
    margin-top: 3px;
  }
  .c-imgText--line {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  .c-imgText--line .c-imgText__img,
  .c-imgText--line .c-imgText__inner {
    display: table-cell;
    box-sizing: border-box;
  }
  .c-imgText--line .c-imgText__img {
    width: 35%;
    vertical-align: top;
    border: 1px solid #e0e0e0;
  }
  .c-imgText--line .c-imgText__img img {
    width: 100%;
  }
  .c-imgText--line .c-imgText__heading {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .c-imgText--line .c-imgText__inner {
    min-height: 0;
    height: auto !important;
    width: 65%;
    border: 1px solid #e0e0e0;
    border-left: none;
    padding: 10px;
    vertical-align: middle;
  }
  .c-imgText--sideImg {
    padding: 8px 0;
    border-top: 1px solid #e0e0e0;
  }
  .c-imgText--sideImg .c-imgText__img {
    padding-right: 8px;
  }
  .c-imgText--sideImg .c-imgText__heading {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .c-imgText--imgR .c-imgText__img img {
    display: block;
    float: none;
    margin: 0 auto 20px;
    width: 280px;
    height: auto;
  }
  .c-imgText--imgR .c-imgText__img img:before, .c-imgText--imgR .c-imgText__img img:after {
    content: "";
    display: table;
  }
  .c-imgText--imgR .c-imgText__img img:after, .c-imgText--imgR .c-imgText__img img:after {
    clear: both;
  }
  .c-imgText--imgR .c-imgText__img img {
    zoom: 1;
  }
  .c-imgText--imgL .c-imgText__img img {
    display: block;
    float: none;
    margin: 0 auto 20px;
    width: 280px;
    height: auto;
  }
  .c-imgText--imgL .c-imgText__img img:before, .c-imgText--imgL .c-imgText__img img:after {
    content: "";
    display: table;
  }
  .c-imgText--imgL .c-imgText__img img:after, .c-imgText--imgL .c-imgText__img img:after {
    clear: both;
  }
  .c-imgText--imgL .c-imgText__img img {
    zoom: 1;
  }
}

.c-line {
  padding-top: 5px;
  border-top: 1px solid #e0e0e0;
}

.c-link:link .c-link__text, .c-link:visited .c-link__text {
  border-bottom: 1px dotted #4c4c4c;
  padding-bottom: 2px;
}
html.win .c-link {
  line-height: 1.6;
}
html.win .c-link:link .c-link__text, html.win .c-link:visited .c-link__text {
  padding-bottom: 0;
}
.c-link:hover .c-link__text, .c-link:active .c-link__text {
  border-bottom-color: transparent;
}

.c-list {
  list-style-type: disc;
  margin-top: 24px;
  padding-left: 24px;
}
.c-list li {
  line-height: 1.4;
  margin-top: 0.5em;
  padding-bottom: 1px;
}
.c-list--general {
  list-style-type: none;
}
.c-list--decimal {
  list-style-type: decimal;
}
.c-list--note {
  font-size: 14px;
  font-size: 1.4rem;
  list-style-type: none;
  color: #666666;
  padding-left: 1em;
  text-indent: -1em;
}
.c-list--dl {
  margin-top: 1em;
  padding-left: 0;
}
.c-list--dl dt {
  margin-top: 1em;
}
.c-list--dl dd .c-list {
  margin-top: 0;
}
.c-list--indent {
  list-style-type: none;
  padding: 0;
}
.c-list--indent li {
  padding-left: 2.5em;
  text-indent: -2.5em;
}
@media only screen and (max-width: 640px) {
  .c-list {
    margin-top: 16px;
  }
  .c-list--note {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.c-listBox {
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 48px;
}
.c-listBox__inner *:first-child {
  margin-top: 0;
}
.c-listBox__title {
  padding: 20px;
  background: #f5f5f5;
  border: 1px solid #cccccc;
}
.c-listBox__body {
  padding: 20px;
  border: 1px solid #cccccc;
  border-top: none;
}
@media only screen and (max-width: 640px) {
  .c-listBox {
    margin-top: 32px;
  }
}

.js-c-modal {
  display: none;
}

.c-modal--youtube .c-modal__container {
  padding: 64px 16px;
  overflow: hidden;
  max-height: 619px;
}
.c-modal--youtube .c-modal__close {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 16px;
  z-index: 100;
  line-height: 1;
}
.c-modal--youtube .c-modal__close a {
  display: inline-block;
  vertical-align: top;
  background: url(/common/lib/simplemodal/icon_close.svg) no-repeat;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  overflow: hidden;
}
.c-modal--youtube .c-modal__contents {
  background: transparent;
  text-align: left;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}
.c-modal--youtube .c-modal__contents iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 80vh;
}
@media only screen and (max-width: 640px) {
  .c-modal--youtube .c-modal__container {
    padding: 48px 16px;
  }
  .c-modal--youtube .c-modal__close {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 16px;
    z-index: 100;
  }
  .c-modal--youtube .c-modal__close a {
    width: 24px;
    height: 24px;
  }
}

.c-emergency {
  text-align: center;
  margin-top: 48px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
}
@media only screen and (max-width: 1024px) {
  .c-emergency {
    text-align: left;
  }
}
@media only screen and (max-width: 640px) {
  .c-emergency {
    margin-top: 32px;
  }
}
.c-emergency > div {
  margin: 6px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #f6f6f6;
}

.c-moderateEmergency {
  text-align: center;
  border: 1px solid #8f8f8f;
  padding: 25px;
}
@media only screen and (max-width: 1024px) {
  .c-moderateEmergency {
    text-align: left;
  }
}
@media only screen and (max-width: 640px) {
  .c-moderateEmergency {
    padding: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .c-recall > a {
    display: block;
    border-top: 1px solid #e0e0e0;
  }
}
.c-recall__body {
  background-color: #eff3fc;
  border: 1px solid #8cb1dd;
}
.c-recall__body > div {
  margin: 6px;
  padding: 14px;
  background-color: #fff;
  border: 1px solid #dbe2f1;
  text-align: center;
  font-weight: bold;
}

.c-pager {
  margin-top: 48px;
}
.c-pager__group {
  font-size: 0px;
  font-size: 0rem;
  text-align: center;
}
.c-pager__item {
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
}
.c-pager__item a {
  display: block;
  padding: 3px 20px;
  border-left: 1px solid #e0e0e0;
  transition-property: opacity, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.c-pager__item a:hover, .c-pager__item a.is-current {
  background: #f5f5f5;
}
.c-pager__item:last-child a {
  border-right: 1px solid #e0e0e0;
}
.c-pager__item--prev .icon:before {
  padding: 0;
}
.c-pager__item--prev a {
  border-left: none;
}
.c-pager__item--next .icon:after {
  padding: 0;
}
.c-pager__item--next:last-child a {
  border-right: none;
}
@media only screen and (max-width: 640px) {
  .c-pager {
    margin-top: 32px;
  }
  .c-pager__item {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .c-pager__item a {
    padding: 5px 15px;
  }
}

.c-relatedLink {
  margin-top: 48px;
  padding: 32px 48px;
  border: 1px solid #e0e0e0;
}
.c-relatedLink__title {
  margin-bottom: 15px;
  font-weight: bold;
}
.c-relatedLink__list {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 -20px;
}
.c-relatedLink__list:before, .c-relatedLink__list:after {
  content: "";
  display: table;
}
.c-relatedLink__list:after, .c-relatedLink__list:after {
  clear: both;
}
.c-relatedLink__list {
  zoom: 1;
}
.c-relatedLink__item {
  float: left;
  line-height: 1.3;
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px;
}
.c-relatedLink__item a {
  display: block;
  border: 1px solid #e0e0e0;
  background: #ffffff;
}
.c-relatedLink__item em {
  display: block;
  font-weight: normal;
  padding: 20px;
  border-left: 3px solid #ffb9d7;
}
@media only screen and (max-width: 1024px) {
  .c-relatedLink__list {
    margin: 0;
  }
  .c-relatedLink__item {
    float: none;
    padding: 0;
    width: 100%;
  }
  .c-relatedLink__item + .c-relatedLink__item {
    margin-top: 12px;
  }
  .c-relatedLink__item:last-child {
    float: none;
  }
}
@media only screen and (max-width: 640px) {
  .c-relatedLink {
    padding: 15px;
    margin-top: 32px;
  }
  .c-relatedLink__title {
    margin-bottom: 10px;
  }
  .c-relatedLink__item em {
    padding: 12px 15px;
  }
}

.c-searchBox {
  padding: 48px;
  border: 1px solid #cccccc;
  background: url(../img/bg_box_noise.png) 0 0 repeat;
}
.c-searchBox:before, .c-searchBox:after {
  content: "";
  display: table;
}
.c-searchBox:after, .c-searchBox:after {
  clear: both;
}
.c-searchBox {
  zoom: 1;
}
.subContents .c-searchBox {
  margin-top: 40px;
}
.c-searchBox__title {
  margin-bottom: 10px;
  font-weight: bold;
}
.c-searchBox__input {
  float: left;
  width: 100%;
  margin-right: -130px;
}
.c-searchBox__inputInner {
  margin-right: 130px;
}
.c-searchBox .c-form__inputTextItem {
  font-size: 14px;
  font-size: 1.4rem;
}
.c-searchBox .c-form__inputText,
.c-searchBox .c-button {
  margin-top: 0;
}
.c-searchBox .c-button {
  float: right;
}
.c-searchBox--S {
  padding: 15px;
}
.c-searchBox--S .c-searchBox__title {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.c-searchBox--S .c-searchBox__input {
  margin-right: -72px;
}
.c-searchBox--S .c-searchBox__inputInner {
  margin: 0 72px 0 0;
}
.c-searchBox--S .c-button__act {
  font-size: 12px;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 2px 2px 2px 5px;
  min-width: 65px;
  max-width: 65px;
  min-height: 27px;
}
.c-searchBox--S .c-form__inputTextItem {
  font-size: 10px;
  font-size: 1rem;
  min-height: 25px;
  padding: 6px;
}
@media only screen and (max-width: 1024px) {
  .c-searchBox--S .c-button__act,
  .c-searchBox--S .c-form__inputTextItem {
    min-height: 44px;
  }
  .c-searchBox--S .c-button__act {
    padding: 2px 10px;
    min-width: 78px;
    max-width: 78px;
  }
  .c-searchBox--S .c-searchBox__input {
    margin-right: -85px;
  }
  .c-searchBox--S .c-searchBox__inputInner {
    margin-right: 85px;
  }
}
@media only screen and (max-width: 640px) {
  .c-searchBox {
    padding: 15px;
  }
  .c-searchBox .c-form__inputTextItem {
    font-size: 12px;
    font-size: 1.2rem;
  }
  .c-searchBox__input {
    margin-right: -98px;
  }
  .c-searchBox__inputInner {
    margin-right: 98px;
  }
  .c-searchBox__input + .c-button .c-button__act {
    padding-left: 16px;
    padding-right: 16px;
  }
  .c-searchBox--S .c-searchBox__input + .c-button .c-button__act {
    padding: 2px 10px;
  }
}

.c-sns {
  font-size: 0px;
  font-size: 0rem;
}
.c-sns .addthis_toolbox {
  display: inline-block;
}
.c-sns .addthis_toolbox a {
  margin-bottom: 0;
}
.c-sns__line {
  display: inline-block;
  padding: 0 2px;
}
.c-sns__line img {
  width: 32px;
  height: 32px;
}

.c-table {
  margin-top: 24px;
}
.c-table--S {
  font-size: 12px;
  font-size: 1.2rem;
}
.c-table table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.c-table th, .c-table td {
  line-height: 1.4;
  text-align: left;
  padding: 20px 24px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}
.c-table th {
  background: #f5f5f5;
}
.c-table td > *:first-child {
  margin-top: 0;
}
.c-table--w10 {
  width: 10%;
}
.c-table--w15 {
  width: 15%;
}
.c-table--w20 {
  width: 20%;
}
.c-table--w25 {
  width: 25%;
}
.c-table--w30 {
  width: 30%;
}
.c-table--w33 {
  width: 33.33%;
}
.c-table--w40 {
  width: 40%;
}
.c-table--w50 {
  width: 50%;
}
.c-table--w60 {
  width: 60%;
}
.c-table--w70 {
  width: 70%;
}
.c-table--w80 {
  width: 80%;
}
.c-table--w90 {
  width: 90%;
}
.c-table--w100 {
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .c-table {
    font-size: 10px;
    font-size: 1rem;
    margin-top: 16px;
  }
  .c-table--S {
    font-size: 10px;
    font-size: 1rem;
  }
  .c-table--scroll {
    overflow-x: scroll;
  }
  .c-table--scroll::-webkit-scrollbar {
    height: 5px;
  }
  .c-table--scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  .c-table--scroll::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
  }
  .c-table--scroll table {
    width: 759px;
  }
}

.c-text {
  margin-top: 1em;
}
.c-text-5XL {
  font-size: 36px;
  font-size: 3.6rem;
}
.c-text-4XL {
  font-size: 32px;
  font-size: 3.2rem;
}
.c-text-3XL {
  font-size: 28px;
  font-size: 2.8rem;
}
.c-text-XXL {
  font-size: 24px;
  font-size: 2.4rem;
}
.c-text-XL {
  font-size: 20px;
  font-size: 2rem;
}
.c-text-L {
  font-size: 18px;
  font-size: 1.8rem;
}
.c-text-M {
  font-size: 16px;
  font-size: 1.6rem;
}
.c-text-S {
  font-size: 14px;
  font-size: 1.4rem;
}
.c-text-SS {
  font-size: 12px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 640px) {
  .c-textSP-XL {
    font-size: 20px;
    font-size: 2rem;
  }
  .c-textSP-L {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .c-textSP-M {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .c-textSP-S {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .c-textSP-SS {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
.c-textEmphasis {
  font-weight: bold;
}
.c-textNote {
  color: #666666;
  font-size: 14px;
  font-size: 1.4rem;
}
@media only screen and (max-width: 640px) {
  .c-textNote {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
